html {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    main {
        width: 100%;
    }
}

button {
    cursor: pointer;
}

/*Extra-Light*/
.dm-xtra-light {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/*Light*/
.dm-light {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*Regular*/
.dm-reg {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Medium*/
.dm-med {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/*Medium-Italic*/
.dm-med-it {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

/*Bold*/
.dm-bold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/*Bold-Italic*/
.dm-bold-it {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}

/*Extra-Bold*/
.dm-xtra-bold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/*Black*/
.dm-black {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-green {
    color: #40A130;
}

.text-grey {
    color: #909090;
}

.btn-green {
    border: none;
    background-color: #40A130;
    transition: .14s ease all;
}

.btn-green:hover {
    background-color: #171717;
}

.btn-white {
    border: none;
    background-color: white;
    transition: .14s ease all;
}

.btn-white:hover {
    background-color: #b8b8b8;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

header.home {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 950px;
    align-items: center;
    background: url("../images/Home/home-banner.jpg");
    background-size: cover;
    background-position: 25% 25%;
    background-repeat: no-repeat;
    nav {
        width: 100%;
        .nav-bar {
            padding: 0 100px;
            display: grid;
            grid-template-columns: min-content 1fr min-content;
            align-items: center;
            .navbar-brand {
                padding-right: 30px;
            }
            div {
                ul {
                    list-style-type: none;
                    display: flex;
                    gap: 30px;
                    margin: 0;
                    li {
                        a {
                            font-size: 20px;
                            color: white;
                            text-decoration: none;
                            margin: 0;
                            transition: all .15s ease;
                        }
                        a:hover {
                            color: #40A130;
                        }
                    }
                }
            }
        }
        .nav-contact {
            margin: 0;
            padding: 0;
            justify-self: end;
            align-self: center;
            font-size: 20px;
            width: 180px;
            height: 50px;
        }
    }
    .home-hero {
        width: 1400px;
        height: 100%;
        grid-row: 2;
        display: grid;
        grid-template-rows: min-content min-content 1fr;
        row-gap: 30px;
        h1 {
            padding-top: 70px;
            margin: 0;
            grid-row: 1;
            font-size: 82px;
            line-height: 88px;
            justify-self: start;
            width: 60%;
            color: white;
        }
        .btn-green {
            grid-row: 2;
            font-size: 27px;
            width: 430px;
            height: 75px;
            justify-self: start;
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            svg {
                width: 26px;
                fill: white;
            }
        }
        div {
            grid-row: 3;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: 40px;
            .btn-white {
                align-self: end;
                a {
                    text-decoration: none;
                    color: #171717;
                    display: flex;
                    gap: 20px;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100px;
                    h2 {
                        font-size: 40px;
                        margin: 0;
                    }
                    svg {
                        width: 40px;
                    }
                }
            }
        }
    }
}

header.page {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: #171717;
    background-size: cover;
    background-repeat: no-repeat;
    nav {
        width: 100%;
        .nav-bar {
            padding: 0 100px;
            display: grid;
            grid-template-columns: min-content 1fr min-content;
            align-items: center;
            .navbar-brand {
                padding-right: 30px;
            }
            div {
                ul {
                    list-style-type: none;
                    display: flex;
                    gap: 30px;
                    margin: 0;
                    li {
                        a {
                            font-size: 20px;
                            color: white;
                            text-decoration: none;
                            margin: 0;
                            transition: all .15s ease;
                        }
                        a:hover {
                            color: #40A130;
                        }
                    }
                }
            }
        }
        .nav-contact {
            margin: 0;
            padding: 0;
            justify-self: end;
            align-self: center;
            font-size: 20px;
            width: 180px;
            height: 50px;
        }
    }
}

main {
    display: grid;
    justify-items: center;
}

#yamaha-header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-image: url("../images/Yamaha/yamaha-banner.jpg");
    background-position: 26% 26%;
    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        background-color: #17171779;
        padding: 70px 0;
        h3 {
            font-size: 50px;
        }
    }
}

#services-header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-image: url("../images/Services/service-top.jpg");
    background-position: 42% 42%;
    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        background-color: #17171779;
        padding: 70px 0;
        img {
            width: 650px;
        }
        h3 {
            font-size: 50px;
        }
    }
}

.motor-sect {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 0 60px;
    width: 1400px;
    .motor-head {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        h3 {
            font-size: 42px;
            margin: 0;
        }
    }
    .motor-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 40px;
        row-gap: 50px;
        max-width: 100%;
        justify-content: center;
        .motor-item {
            width: 100%;
            grid-column: auto;
            overflow: hidden;
            div {
                height: 350px;
                button {
                    position: absolute;
                    margin: 15px 0 0 15px;
                    padding: 7px 36px;
                    background-color: #d72152;
                    border: none;
                    font-size: 24px;
                }
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            h4 {
                margin: 0;
                padding: 8px 0 0 0;
                font-size: 25px;
            }
            p {
                font-size: 20px;
                margin: 0;
                span {
                    text-decoration: line-through;
                }
            }
        }
    }
}

#contact-sect {
    padding: 80px 0;
    width: 1400px;
    display: grid;
    grid-template-columns: 2fr  1fr;
    grid-template-rows: min-content min-content min-content min-content;
    row-gap: 10px;
    column-gap: 35px;
    h3 {
        margin: 0;
        font-size: 30px;
        grid-column: 1;
        grid-row: 1;
    }
    h1 {
        margin: 0;
        font-size: 52px;
        grid-column: 1;
        grid-row: 2;
    }
    p {
        margin: 0;
        font-size: 27px;
        line-height: 41px;
        grid-column: 1;
        grid-row: 3;
        padding-bottom: 15px;
    }
    div {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 35px;
        grid-column: 1;
        grid-row: 4;
        button {
            font-size: 27px;
            width: 330px;
            height: 75px;
        }
        h1 {
            margin: 0;
            font-size: 36px;
        }
    }
    img {
        align-self: center;
        justify-self: end;
        width: 550px;
        grid-column: 2;
        grid-row: 1 / -1;
    }
}

#contact-form {
    position: absolute;
    width: 400px;
    height: 370px;
    display: none;
    background: white;
    transition: all .1s ease;
    color: #171717;
    padding: 35px 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    #contact-submitted {
        position: absolute;
        color: white;
        background-color: #40A130;
        z-index: -1000;
        opacity: 0;
        display: flex;
        gap: 10px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        transition: all .15s ease;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #contact-header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        h1 {
            margin: 0;
            padding-bottom: 20px;
        }
        button {
            border: none;
            background: transparent;
            z-index: 2000;
        }
    }   
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content 1fr min-content;
        column-gap: 10px;
        row-gap: 16px;
        div {
            display: flex;
            flex-direction: column;
            gap: 3px;
            label {
                font-size: 18px;
            }
            input {
                border-radius: 3px;
                border: #909090 0.5px solid;
                height: 25px;
            }
            textarea {
                border-radius: 3px;
                border: #909090 0.5px solid;
                height: 80px;
            }
        }
        #submit {
            margin-top: 10px;
            padding: 10px 10px;
            font-size: 18px;
            cursor: pointer;
        }
    }
}

#summer-sect {
    width: 100%;
    height: 775px;
    background: url("../images/Home/summer-slips.jpg");
    background-position: 28% 28%;
    display: grid;
    background-size: cover;
    align-content: center;
    justify-items: center;
    div {
        width: 675px;
        height: min-content;
        padding: 0 50px;
        display: grid;
        justify-items: center;
        row-gap: 24px;
        h1 {
            margin: 0;
            margin-top: 25px;
            font-size: 52px;
            text-align: center;
        }
        p {
            text-align: center;
            font-size: 27px;
            line-height: 34px;
            margin: 0;
            width: 530px;
        }
        button {
            font-size: 27px;
            width: 330px;
            height: 75px;
            margin-bottom: -37px;
        }
    }
}

#trained-sect {
    width: 100%;
    height: 775px;
    background: url("../images/Yamaha/yamaha-trained.jpg");
    background-position: 50% 50%;
    display: grid;
    background-size: cover;
    align-content: center;
    justify-items: center;
    div {
        width: 675px;
        height: min-content;
        padding: 0 50px;
        display: grid;
        justify-items: center;
        row-gap: 24px;
        h1 {
            margin: 0;
            margin-top: 25px;
            font-size: 52px;
            text-align: center;
        }
        p {
            text-align: center;
            font-size: 27px;
            line-height: 34px;
            margin: 0;
            width: 530px;
        }
        button {
            font-size: 27px;
            width: 330px;
            height: 75px;
            margin-bottom: -37px;
        }
    }
}

#mechanic-sect  {
    padding: 80px 0;
    width: 1400px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    row-gap: 5px;
    column-gap: 22px;
    h3 {
        margin: 0;
        font-size: 30px;
        grid-column: 1 / -1;
        grid-row: 1;
    }
    h1 {
        margin: 0;
        font-size: 52px;
        grid-column: 1 / -1;
        grid-row: 2;
    }
    #service-dept {
        grid-column: 1;
        grid-row: 3;  
    }
    #sales-dept {
        grid-column: 2;
        grid-row: 3;
    }
    .dept-card {
        padding-top: 30px;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        row-gap: 24px;
        justify-items: center;
        h3 {
            letter-spacing: 4px;
            margin: 0;
            font-size: 36px;
        }
        p {
            justify-self: start;
            width: 600px;
            text-align: center;
            margin: 0;
            font-size: 27px;
            line-height: 41px;
        }
        a {
            button {
                font-size: 27px;
                width: 330px;
                height: 75px;
            }
        }
    }
}

#boat-head-sect {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    div {
        padding: 80px 0;
        width: 1400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr min-content;
        row-gap: 32px;
        img {
            width: 600px;
            grid-column: 1;
            grid-row: 1 / -1;
            align-self: end;
        }
        h1 {
            margin: 0;
            font-size: 82px;
            line-height: 88px;
            grid-column: 2;
            grid-row: 1;
        }
        p {
            font-size: 48px;
            line-height: 64px;
            margin: 0;
            grid-column: 2;
            grid-row: 2;
        }
        button {
            grid-column: 2;
            grid-row: 3;
            font-size: 27px;
            width: 330px;
            height: 75px;
        }        
    }

}

#services-head-sect {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    div {
        padding: 80px 0;
        width: 1400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr min-content;
        row-gap: 20px;
        column-gap: 40px;
        h1 {
            font-size: 80px;
            line-height: 1.2em;
            margin: 0;
            text-align: end;
            grid-column: 1;
            grid-row: 1 / -1;
            align-self: start;
        }
        h2 {
            margin: 0;
            font-size: 70px;
            line-height: 88px;
            grid-column: 2;
            grid-row: 1;
        }
        p {
            font-size: 25px;
            margin: 0;
            grid-column: 2;
            grid-row: 2;
        }
        ul {
            margin: 0;
            font-size: 25px;
        }    
    }
}

#services-columns {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    .cont {
        padding: 90px 0;
        width: 1400px;
        display: flex;
        gap: 50px;
        div {
            h1 {
                text-transform: uppercase;
                font-size: 50px;
                margin: 0;
            }
            hr {
                margin: 20px 0;
                border: 1.4px solid #40A130;
            }
            p {
                font-size: 25px;
                margin: 0;
            }
        }
    }
}

#nautic-star-sect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
    row-gap: 100px;
    padding: 80px 0;
    width: 1400px;
    #nautic-head {
        grid-column: 1 / -1;
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content min-content min-content min-content min-content;
        row-gap: 20px;
        column-gap: 40px;
        #nautic-star-logo {
            grid-column: 1;
            grid-row: 1;
            width: 460px;
        }
        h3 {
            font-size: 42px;
            margin: 0;
            grid-column: 1;
            grid-row: 2;
        }
        .nautic-p1 {
            font-size: 27px;
            line-height: 41px;
            margin: 0;
            grid-column: 1;
            grid-row: 3;
        }
        .nautic-p2 {
            font-size: 27px;
            margin: 0;
            grid-column: 1;
            grid-row: 4;    
        }
        .nautic-p3 {
            font-size: 27px;
            margin: 0;
            grid-column: 1;
            grid-row: 5;
        }
        button {
            grid-column: 1;
            grid-row: 6;
            font-size: 27px;
            width: 330px;
            height: 75px;
        }
        #nautic-img {
            padding-top: 50px;
            grid-column: 2;
            grid-row: 1 / -1;
            justify-self: end;
            width: 620px;
        }
    }
    .nautic-cards {
        display: grid;
        grid-template-rows: min-content min-content min-content;
        max-width: 100%;
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
        button {
            position: absolute;
            margin: 15px 0 0 15px;
            padding: 7px 36px;
            background-color: #d72152;
            border: none;
            font-size: 24px;
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            height: min-content;
            padding: 15px 0;
            margin-top: 10px;
            .boat-name {
                margin: 0;
                padding: 0 28px;
                font-size: 27px;
                line-height: 32px
            }
            .boat-color {
                margin: 0;
                padding: 0 28px;
                font-size: 27px;
            }
        }
        h1 {
            margin: 0;
            margin-top: 10px;
            font-size: 40px;
            justify-self: end;
            align-self: end;
            span {
                text-decoration: line-through;
            }
        }
    }
}

#nautic-star-boats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 100px;
    padding: 80px 0;
    width: 1400px;
    #nautic-head {
        grid-column: 1 / -1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        #nautic-star-logo {
            grid-column: 1;
            grid-row: 1;
            width: 460px;
        }
        h3 {
            font-size: 42px;
            margin: 0;
            grid-column: 1;
            grid-row: 2;
        }
        .nautic-p3 {
            font-size: 27px;
            margin: 0;
            grid-column: 1;
            grid-row: 5;
        }
    }
    .nautic-cards {
        display: grid;
        grid-template-rows: min-content min-content min-content;
        max-width: 100%;
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
        button {
            position: absolute;
            margin: 15px 0 0 15px;
            padding: 7px 36px;
            background-color: #d72152;
            border: none;
            font-size: 24px;
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            height: min-content;
            padding: 15px 0;
            margin-top: 10px;
            .boat-name {
                margin: 0;
                padding: 0 28px;
                font-size: 27px;
                line-height: 32px
            }
            .boat-color {
                margin: 0;
                padding: 0 28px;
                font-size: 27px;
            }
        }
        h1 {
            margin: 0;
            margin-top: 10px;
            font-size: 40px;
            justify-self: end;
            align-self: end;
            span {
                text-decoration: line-through;
            }
        }
    }
}

#preowned-boats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 100px;
    padding: 80px 0;
    width: 1400px;
    #nautic-head {
        grid-column: 1 / -1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        #nautic-star-logo {
            grid-column: 1;
            grid-row: 1;
            width: 460px;
        }
        h3 {
            font-size: 42px;
            margin: 0;
            grid-column: 1;
            grid-row: 2;
        }
        .nautic-p3 {
            font-size: 27px;
            margin: 0;
            grid-column: 1;
            grid-row: 5;
        }
    }
    .nautic-cards {
        display: grid;
        grid-template-rows: min-content min-content min-content;
        max-width: 100%;
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
        button {
            position: absolute;
            margin: 15px 0 0 15px;
            padding: 7px 36px;
            background-color: #d72152;
            border: none;
            font-size: 24px;
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            height: min-content;
            padding: 15px 0;
            margin-top: 10px;
            .boat-name {
                margin: 0;
                padding: 0 28px;
                font-size: 27px;
                line-height: 32px
            }
            .boat-color {
                margin: 0;
                padding: 0 28px;
                font-size: 27px;
            }
        }
        h1 {
            margin: 0;
            margin-top: 10px;
            font-size: 40px;
            justify-self: end;
            align-self: end;
            span {
                text-decoration: line-through;
            }
        }
    }
}

#winter-sect {
    width: 100%;
    height: 775px;
    background: url("../images/Home/winter-storage.jpg");
    background-position: 60% 60%;
    display: grid;
    background-size: cover;
    align-content: center;
    justify-items: center;
    div {
        width: 675px;
        height: min-content;
        padding: 0 50px;
        display: grid;
        justify-items: center;
        row-gap: 24px;
        h1 {
            margin: 0;
            margin-top: 25px;
            font-size: 52px;
        }
        p {
            text-align: center;
            font-size: 27px;
            line-height: 34px;
            margin: 0;
            width: 530px;
        }
        button {
            font-size: 27px;
            width: 330px;
            height: 75px;
            margin-bottom: -37px;
        }
    }
}

#tour-sect {
    width: 100%;
    height: 775px;
    background: url("../images/Home/summer-slips.jpg");
    background-position: 28% 28%;
    display: grid;
    background-size: cover;
    align-content: center;
    justify-items: center;
    div {
        width: 675px;
        height: min-content;
        padding: 0 50px;
        padding-bottom: 50px;
        display: grid;
        justify-items: center;
        row-gap: 24px;
        h1 {
            margin: 0;
            margin-top: 25px;
            font-size: 52px;
            text-align: center;
        }
    }
}

#map-sect {
    width: 1400px;
    display: flex;
    align-content: center;
    justify-content: center;
    div {
        width: 100%;
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 30px;
    }
}

footer {
    width: 100%;
    background-color: #171717;
    display: grid;
    justify-content: center;
    padding: 50px 0;
    .upper-footer {
        width: 1400px;
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content 1fr;
        #footer-logo {
            grid-column: 1;
            grid-row: 1 / -1;
            align-self: center;
            justify-self: start;
            padding-right: 110px;
            width: 450px;
        }
        .company-logos {
            grid-column: 2;
            grid-row: 1;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            height: min-content;
            a {
                img {
                    width: 222px;
                }
            }
        }
        .footer-pages {
            grid-column: 2;
            grid-row: 2;
            display: grid;
            grid-template-columns: 1fr min-content min-content min-content;
            column-gap: 50px;
            text-wrap: nowrap;
            font-size: 18px;
            div {
                display: grid;
                grid-template-rows: min-content min-content min-content;
                justify-items: start;
                gap: 2px;
                .footer-page-header {
                    text-decoration: underline;
                }
                .footer-page-name {
                    a {
                        text-decoration: none;
                    }
                }
                p {
                    margin: 0;
                    a {
                        color: #40A130;
                        transition: all .15s ease;
                    }
                    a:hover {
                        color: white;
                    }
                }
            }
        }
    }
    hr {
        border: 1px white solid;
        width: 100%;
    }
    .lower-footer {
        width: 1400px;
        font-size: 24px;
        padding-top: 8px;
        display: grid;
        grid-template-columns: min-content min-content min-content 1fr;
        column-gap: 15px;
        .social-icons {
            fill: white;
            transition: all .15s ease;
        }
        .social-icons:hover {
            fill: #40A130;
        }
        p {
            justify-self: start;
            margin: 0;
            text-wrap: nowrap;
        }
        a {
            text-decoration: none;
        }
        svg {
            width: 30px;
            fill: white;
        }
        .to-top {
            justify-self: end;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            transition: all .15s ease;
            p {
                color: white;
                margin: 0;
                transition: all .15s ease;
            }
            svg {
                width: 12px;
                fill: white;
                transition: all .15s ease;
            }
        }
        .to-top:hover {
            p {
                color: #40A130;
            }
            svg {
                fill: #40A130;
            }
        }
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
    svg {
        display: none;
    }
}

.svg-active {
    display: block !important;
}

#side-menu {
    display: none;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: white;
    z-index: 1050;
    transition: left 0.3s ease;
    nav {
        display: grid;
        row-gap: 10px;
        .side-logo {
            align-self: center;
            justify-self: center;
            padding-top: 30px;
        }
        ul {
            list-style: none;
            padding: 0 30px;
            li {
                margin: 0;
                padding: 15px 0;
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 30px;
                    margin: 0;
                }
            }
            hr {
                margin: 0;
                border: 1.5px solid #0000002a;
            }
        }
        button {
            margin: 0;
            padding: 0;
            justify-self: center;
            align-self: center;
            font-size: 20px;
            width: 240px;
            height: 50px;
        }
    }
}

#side-menu.active {
  left: 0;
}

@media (max-width: 1500px) {
    main {
        width: auto !important;
    }
    footer {
        justify-items: center;
        .upper-footer {
            width: min-content;
            grid-template-columns: 1fr min-content;
            grid-template-rows: 1fr 1fr;
            align-items: center;
            #footer-logo {
                grid-column: 1;
                grid-row: 1;
            }
            .company-logos {
                grid-column: 2;
                grid-row: 1;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
            .footer-pages {
                grid-column: 1 / -1;
                grid-row: 2;
                justify-self: center;
                justify-content: space-between;
                display: flex;
                width: 100%;
            }
        }
    }
    .lower-footer {
        width: min-content !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
        .to-top {
            padding-left: 40px;
            p {
                display: none !important;
            }
        }
    }
    #boat-head-sect {
        width: 100%;
        justify-items: start;
        display: flex;
        justify-content: center;
        div {
            width: 100vw;
            box-sizing: border-box;
            max-width: 100%;
            left: 0;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: start;
            img {
                align-self: center;
            }
            h1 {
                text-wrap: wrap;
                padding-left: 30px;
                font-size: 60px;
                line-height: 60px;
            }
            p {
                text-wrap: wrap;
                padding-left: 30px;
                font-size: 28px;
                line-height: 40px;
            }
            button {
                margin-left: 30px;
            }
        }
    }
    #mechanic-sect {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #nautic-star-sect {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr min-content min-content;
        width: 100%;
        max-width: 100vw;
        #nautic-head {
            display: flex;
            flex-direction: column;
            align-items: center;
            .nautic-p1 {
                width: 100%;
                max-width: 750px;
                text-align: center;
            }
        }
        .nautic-cards {
            max-width: 450px;
            align-self: center;
            justify-self: center;
        }
        .nautic-card-1 {
            grid-column: 1;
            grid-row: 2;
        }
        .nautic-card-2 {
            grid-column: 2;
            grid-row: 2;
        }
        .nautic-card-3 {
            grid-column: 1;
            grid-row: 3;
        }
    }
    #contact-sect {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        max-width: 800px;
    }
    .home-hero {
        width: 900px;
        max-width: 100%;
        h1 {
            font-size: 65px !important;
            line-height: 74px !important;
        }
    }
    #map-sect {
        width: 100vw;
    }
    .motor-sect {
        width: 100%;
        .motor-cards {
            grid-template-columns: 1fr 1fr;
        }
    }
    #services-columns {
        .cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                width: 500px;
            }
        }
    }
    #services-head-sect {
        div {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                text-align: center;
            }
            p {
                padding: 0 20px;
            }
        }
    }
    #nautic-star-boats {
        width: 100vw;
        max-width: 950px;
        grid-template-columns: 1fr 1fr;
    }
    #preowned-boats {
        width: 100vw;
        max-width: 950px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1070px) {
    .nav-bar {
        padding: 0 40px !important;
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        div {
            display: none;
        }
        .hamburger {
            display: block;
            background: none;
            border: none;
            width: min-content;
        }
    }
    .nav-contact {
        display: none;
    }
    #side-menu {
        display: block;
    }
    #nautic-star-sect {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr min-content min-content min-content;
        width: 100%;
        max-width: 100vw;
        #nautic-head {
            display: flex;
            flex-direction: column;
            align-items: center;
            .nautic-p1 {
                width: 100%;
                max-width: 750px;
                text-align: center;
            }
        }
        .nautic-cards {
            max-width: 450px;
            align-self: center;
            justify-self: center;
        }
        .nautic-card-1 {
            grid-column: 1;
            grid-row: 2;
        }
        .nautic-card-2 {
            grid-column: 1;
            grid-row: 3;
        }
        .nautic-card-3 {
            grid-column: 1;
            grid-row: 4;
        }
    }
    .home-hero {
        div {
            display: grid;
            grid-template-columns: 1fr !important;
            grid-template-rows: min-content min-content min-content !important;
            row-gap: 20px;
            .btn-white {
                width: 100%;
                max-width: 400px;
                height: 80px;
                align-self: center;
                justify-self: center;
                a {
                    height: 100% !important;
                    h2 {
                        font-size: 30px !important;
                    }
                    svg {
                        width: 30px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 860px) {
    footer {
        justify-items: center;
        .upper-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            gap: 40px;
            #footer-logo {
                padding: 0 !important;
            }
            .company-logos {
                display: flex;
                flex-direction: row;
                gap: 15px;
            }
            .footer-pages {
                padding-top: 30px;
                grid-column: 1 / -1;
                grid-row: 2;
                justify-self: center;
                justify-content: center;
                display: grid;
                grid-template-columns: min-content min-content;
                grid-template-rows: 1fr 1fr;
                row-gap: 30px;
                width: 100%;
                :nth-child(1) {
                    grid-column: 1 !important;
                    grid-row: 1 !important;
                    display: flex;
                    flex-direction: column;
                }
                :nth-child(2) {
                    grid-column: 2 !important;
                    grid-row: 1 !important;
                    display: flex;
                    flex-direction: column;
                }
                :nth-child(3) {
                    grid-column: 1 / -1 !important;
                    grid-row: 2 !important;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    .lower-footer {
        width: min-content !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
        .to-top {
            padding-left: 40px;
            p {
                display: none !important;
            }
        }
    }
    #summer-sect {
        div {
            width: 500px;
            height: max-content;
            text-wrap: wrap;
            h1 {

            }
            p {
                width: 100%;
            }
        }
    }
    #winter-sect {
        div {
            width: 500px;
            height: max-content;
            text-wrap: wrap;
            h1 {

            }
            p {
                width: 100%;
            }
        }
    }
    .motor-sect {
        width: 100%;
        .motor-cards {
            grid-template-columns: 1fr;
        }
    }
    #services-head-sect {
        div {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                text-align: center;
                font-size: 60px;
                line-height: 1em;
            }
            p {
                padding: 0 20px;
            }
        }
    }
    #nautic-star-boats {
        grid-template-columns: 1fr;
        max-width: 450px;
        #nautic-head {
            #nautic-star-logo {
                width: 300px;
            }
        }
    }
    #preowned-boats {
        max-width: 450px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 640px) {
    footer {
        justify-items: center;
        .upper-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            gap: 40px;
            #footer-logo {
                padding: 0 !important;
                width: 300px;
            }
            .company-logos {
                display: flex;
                flex-direction: row;
                gap: 15px;
                a {
                    img {
                        width: 150px;
                    }
                }
            }
            .footer-pages {
                padding-top: 30px;
                grid-column: 1 / -1;
                grid-row: 2;
                justify-self: center;
                justify-content: center;
                display: grid;
                grid-template-columns: min-content min-content;
                grid-template-rows: 1fr 1fr;
                row-gap: 30px;
                width: 100%;
                :nth-child(1) {
                    grid-column: 1 !important;
                    grid-row: 1 !important;
                    display: flex;
                    flex-direction: column;
                }
                :nth-child(2) {
                    grid-column: 2 !important;
                    grid-row: 1 !important;
                    display: flex;
                    flex-direction: column;
                }
                :nth-child(3) {
                    grid-column: 1 / -1 !important;
                    grid-row: 2 !important;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    .lower-footer {
        width: min-content !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: start;
        p:nth-child(1) {
            text-wrap: wrap;
            width: 150px;
        }
        .to-top {
            padding-left: 40px;
            p {
                display: none !important;
            }
        }
    }
    #summer-sect {
        div {
            width: 330px;
            height: max-content;
            text-wrap: wrap;
            h1 {
                font-size: 42px;
            }
            p {
                width: 100%;
                font-size: 17px;
                line-height: 27px;
            }
        }
    }
    #winter-sect {
        div {
            width: 330px;
            height: max-content;
            text-wrap: wrap;
            h1 {
                text-align: center;
                font-size: 42px;
            }
            p {
                width: 100%;
                font-size: 17px;
                line-height: 27px;
            }
        }
    }
    #mechanic-sect {
        box-sizing: border-box;
        width: 100%;
        max-width: 100vw;
        display: flex;
        text-align: center;
        h3 {

        }
        h1 {
            text-wrap: wrap;
        }
        .dept-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
                text-wrap: wrap;
            }
            p {
                font-size: 22px;
                line-height: 30px;
                width: 100%;
            }
            a {
                button {
                    width: 260px;
                    height: 65;
                }
            }
        }
    }
    #nautic-star-sect {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100vw;
        text-wrap: wrap;
        #nautic-head {
            display: flex;
            flex-direction: column;
            align-items: center;
            #nautic-star-logo {
                width: 280px;
            }
            h3 {
                font-size: 30px;
            }
            .nautic-p1 {
                font-size: 20px;
                line-height: 32px;
                width: 100%;
                max-width: 100vw;
                text-align: center;
            }
            .nautic-p2 {
                width: 100%;
                max-width: 100vw;
                margin-left: 15px;
            }
        }
        .nautic-cards {
            max-width: 340px;
            align-self: center;
            justify-self: center;
            img {

            }
            div {
                .boat-name {

                }
                .boat-color {

                }
            }
            h1 {

            }
        }
    }
    #contact-sect {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        h3 {

        }
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 20px;
            line-height: 32px;
        }
        div {
            flex-direction: column;
            align-items: center;
            button {
                width: 260px;
                height: 65px;
            }
            h1 {
                font-size: 30px;
            }
        }
    }
    .home-hero {
        div {
            display: grid;
            grid-template-columns: 1fr !important;
            grid-template-rows: min-content min-content min-content !important;
            row-gap: 20px;
            .btn-white {
                width: 100vw;
                max-width: 400px;
                height: 80px;
                align-self: center;
                justify-self: start;
                a {
                    height: 100% !important;
                    h2 {
                        font-size: 30px !important;
                    }
                    svg {
                        width: 30px !important;
                    }
                }
            }
        }
    }
    #tour-sect {
        div {
            h1 {
                font-size: 40px;
            }
            iframe {
                width: 400px !important;
                height: 226px !important;
            }
        }
    }
    .motor-sect {
        width: 300px;
        .motor-head {
            h3 {
                font-size: 30px;
                text-wrap: balance;
            }
        }
        .motor-cards {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }
    #services-header {
        div {
            img {

            }
            h3 {
                width: 285px;   
            }
        }
    }
    #services-columns {
        .cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                width: 300px;
                h1 {
                    font-size: 40px;
                }
                p {
                    font-size: 22px;
                }
            }
        }
    }
    #services-head-sect {
        div {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                text-align: center;
                font-size: 60px;
                line-height: 1em;
            }
            p {
                padding: 0 20px;
                font-size: 22px;
            }
        }
    }
}